%table.fr-table.width-100.fr-mt-6v
  %thead
    %tr
      %th= 'Adresse électronique'
      %th= 'Dernier message'
      %th
  %tbody#commentaires
    = render(GroupeGestionnaire::GroupeGestionnaireListCommentaires::CommentaireComponent.with_collection(commentaires, groupe_gestionnaire: groupe_gestionnaire))
