.attachment.fr-upload-group{ class: class_names("fr-mb-1w": !persisted?) }
  - if persisted?
    = render Attachment::AttachmentRowComponent.new(attachment:, context:)
  - else
    = render Attachment::ButtonUploaderComponent.new(context:)

  = render Attachment::ErrorWrapperComponent.new(with_top_margin: true)
