- if @champ.type_de_champ.piece_justificative_template&.attached?
  = render partial: "shared/piece_justificative_template", locals: { champ: @champ }

%p.fr-hint-text.fr-mb-1w{ id: hint_id }
  = t('.max_file_size', max_file_size: number_to_human_size(max_file_size))
  = t('.allowed_formats', formats: allowed_formats.join(', '))

- attachment = @champ.piece_justificative_file[0]
= render Attachment::UniqueComponent.new(context: attachment_context, attachment:)
