.attachment-drop-zone.flex.column.align-start{ data: { controller: 'drag-drop-uploader' } }
  .attachment-drop-area.fr-p-3w{ role: 'button', tabindex: '0', 'aria-label': t('.aria_label'), data: { action: 'click->drag-drop-uploader#openFilePicker keydown.enter->drag-drop-uploader#openFilePicker keydown.space->drag-drop-uploader#openFilePicker dragover->drag-drop-uploader#onDragOver dragleave->drag-drop-uploader#onDragLeave drop->drag-drop-uploader#onDrop' } }
    %span.fr-icon-upload-line{ aria: { hidden: "true" } }
    %p= t('.drop_zone_label', count: button_uploader.max)
    %p.fr-hr-or= t('.or')
    %button.fr-btn.fr-btn--secondary.fr-btn--sm{ type: 'button', tabindex: '-1', data: { action: 'click->drag-drop-uploader#openFilePicker' } }
      = t('.button_label', count: button_uploader.max)

  = render button_uploader
