@import 'colors';

.direct-upload {
  position: relative;
  display: inline-block;
  border-color: transparent;
  border: 1px solid var(--border-default-grey);
  border-radius: 3px;
}

.direct-upload--pending {
  opacity: 0.7;
  border: 1px solid var(--border-default-grey);
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--background-contrast-grey);
  transition:
    width 120ms ease-out,
    opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload__filename {
  position: relative; // set a position so it appears above the progress bar
}
.direct-upload--error {
  padding-top: 0 !important;
  padding-bottom: 1rem !important;
}

.direct-upload {
  &.direct-upload--error,
  &.direct-upload--complete {
    border-color: transparent;
  }
  &.direct-upload--error .direct-upload__progress {
    display: none;
  }
}

input[type='file'][data-direct-upload-url][disabled],
input[type='file'][data-auto-attach-url][disabled] {
  display: none;
}

.direct-upload--simulated .direct-upload__progress {
  animation: progress-bar-fill 90s ease-out forwards;
}

@keyframes progress-bar-fill {
  from {
    width: 0%;
  }
  to {
    width: 93%; // donne l'impression que c'est bloqué
  }
}
