@import 'constants';

.procedure-logo {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff; // also in dark mode: logos assume transparent pixels are white
  background-position: 95% 50%;
  color: #000000; // alt text when image is not loaded
  height: 84px;
  width: 84px;
  margin-right: $default-padding;
}
