= render Attachment::FileFieldComponent.new(context: attachment_context, max:, drop_zone: :integrated) do |c|
  - if @champ.type_de_champ.piece_justificative_template&.attached?
    - c.with_template do
      = render partial: "shared/piece_justificative_template", locals: { champ: @champ }
